/* Label Styling */
label {
  display: block;
  margin-top: 10px;
}

/* Card Styling */
.card-container.card {
  max-width: 350px !important;
  padding: 2.5rem;  /* Converted from px to rem */
}

.card {
  background-color: #f7f7f7;
  padding: 1.5rem 1.75rem 2rem; /* Use rem for better scaling */
  margin: 0 auto 1.5rem;
  margin-top: 3rem;
  border-radius: 2px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Profile Image */
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  border-radius: 50%;
}
